/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Londrina+Solid:wght@100;300;400;900&family=Parisienne&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.a_01{overflow: hidden;}
.b_01{overflow: hidden;}
.c_01{overflow: hidden;}
.d_01{overflow: hidden;}
.e_01{overflow: hidden;}
.f_01{overflow: hidden;}
.g_01{overflow: hidden;}
.h_01{overflow: hidden;}
.i_01{overflow: hidden;}
.j_01{overflow: hidden;}
.k_01{overflow: hidden;}
.m_01{overflow: hidden;}







.font01{
    font-family:"Londrina Solid", sans-serif;
    font-weight: 400;
  font-style: normal;
  color: #FFF0D4;
  font-size: 48px;
  text-align: center;
  position: absolute;
  letter-spacing: 4px;
  margin-top: 103px;
  margin-left: 93px;
  
}
.font02{
    font-family:"Londrina Solid", sans-serif;
    font-weight: 400;
  font-style: normal;
  color: #FFF0D4;
  font-size: 35px;
  text-align: center;
  position: absolute;
  letter-spacing: 6px;
  margin-top: 163px;
  margin-left: 112px;
}
.font03{
    font-family:"Londrina Solid", sans-serif;
    font-weight: 400;
  font-style: normal;
  color: #FFF0D4;
  font-size: 32px;
  text-align: center;
  position: absolute;
  letter-spacing: 13px;
  margin-top: 210px;
  margin-left: 119px;
  
}
.font04{
font-family: "Noto Sans KR", sans-serif;
font-size: 20px;
position: absolute;
color: white;
text-align: center;
margin-top: 300px;
margin-left: 100px;
line-height: 35px;
}
.font05{
font-family: "Noto Sans KR", sans-serif;
font-size: 18px;
position: absolute;
color: white;
text-align: center;
}
/* 소개 폰트 */
.font06{
  font-family:"Londrina Solid", sans-serif;
  position: absolute;
  color: white;
 font-weight: 800;
 font-size: 21px;

}
.font07{
  font-family:"Londrina Solid", sans-serif;
  position: absolute;
  color: #FFFEA6;
 font-weight: 500;
 font-size: 17px;

}
.font08{
  font-family:"Noto Sans KR", sans-serif;
  position: absolute;
  color: white;
 font-size: 13px;
text-align: right;
line-height: 22px;
}
.font09{
  font-family:"Londrina Solid", sans-serif;
  position: absolute;
  color: white;
 font-weight: 300;
 font-size: 18px;
 line-height: 10px;
}
.font10{
font-family:"Londrina Solid", sans-serif;
  position: absolute;
  color: white;
 font-weight: 500;
 font-size: 42px;  
}
.font11{
font-family:"Londrina Solid", sans-serif;
  position: absolute;
  color: white;
 font-weight: 500;
 font-size: 36px;  
}
.font12{
  font-family:"Noto Sans KR", sans-serif;
  position: absolute;
  color: #FFB4B5;
 font-size: 13px;
text-align: right;
line-height: 22px;
}
.font13{
  font-family:"Noto Sans KR", sans-serif;
  position: absolute;
  color: white;
 font-size: 17px;
line-height: 30px;
}
/* 전체 공통 항목 */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
/* 인덱스 페이지 스타일 항목 */
.video{
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
}
.a{
position: absolute;
margin-top: 680px;
margin-left: 55px;
z-index: 999;
}
.a_02{
    border-bottom: 1px solid white;
    width: 195px;
    position: absolute;
    margin-top: 280px;
    margin-left: 110px;
}
.a_01{
object-fit: fill;
}
/* 스타벅스 소개 페이지 1 */
.b_01{
   width: 100%;
    height: 765px;
    background-image: url(img/b_01.png);
    position: relative;
    background-size: 100%;
}
.b_02{
position: absolute;
margin-left: 130px;
margin-top: 70px;
}
.b_03{
  position: absolute;
  margin-top: 285px;
  margin-left: 195px;
}
.b_04{
  position: absolute;
  margin-top: 330px;
  margin-left: 120px;
}
.b_05{
  position: absolute;
   margin-top: 460px;
  margin-left: 50px;
}
.b_06{
  position: absolute;
   margin-top: 515px;
  margin-left: 160px;
}
.c_01{
   width: 100%;
    height: 332px;
    background-image: url(img/c_01.png);
    position: relative;
    
}
.c_02{
 position: absolute;
 margin-top: 36px;
 margin-left: 166px;
}
.c_03{
 position: absolute;
 margin-top: 56px;
 margin-left: 134px;
}
.c_04{
 position: absolute; 
 margin-top: 85px;
 margin-left: 103px;
}
.c_05{
 position: absolute;
 margin-top: 117px;
 margin-left: 106px; 
}
.c_06{
 position: absolute; 
 margin-top: 140px;
 margin-left: 31px;
 text-align: right;
}
.c_07{
  border: 1px solid #FFFEA6;
  width: 115.5px;
  margin-top: 255px;
 margin-left: 67.5px;
 position: absolute;
}
.c_08{
 position: absolute; 
 margin-top: 265px;
 margin-left: 80px;
}
.d_01{
   width: 100%;
    height: 332px;
    background-image: url(img/d_01.png);
    position: relative;
  
}
.d_02{
 position: absolute;
 margin-top: 15px;
 margin-left: 10px;
}
.d_03{
 position: absolute; 
 margin-top: 55px;
 margin-left: 169px;
}
.d_04{
 position: absolute;
 margin-top: 90px;
 margin-left: 169px; 
}
.d_05{
 position: absolute; 
 margin-top: 115px;
 margin-left: 169px;
 text-align: left;
}
.d_06{
  border: 1px solid #FFFEA6;
  width: 115.5px;
  margin-top: 235px;
 margin-left: 169px;
 position: absolute;
}
.d_07{
 position: absolute; 
 margin-top: 250px;
 margin-left: 167px;
}
.e_01{
   width: 100%;
    height: 332px;
    background-image: url(img/e_01.png);
    position: relative;
    
}
.e_02{
 position: absolute;
 margin-top: 5px;
 margin-left: 230px;
}
.e_03{
 position: absolute; 
 margin-top: 37px;
 margin-left: 20px;
}
.e_04{
 position: absolute;
 margin-top: 70px;
 margin-left: 54px; 
}
.e_05{
 position: absolute; 
 margin-top: 95px;
 margin-left: 76px;
 text-align: right;
}
.e_06{
  border: 1px solid #FFFEA6;
  width: 115.5px;
  margin-top: 215px;
 margin-left: 104px;
 position: absolute;
}
.e_07{
 position: absolute; 
 margin-top: 230px;
 margin-left: 121px;
}
.f_01{
   width: 100%;
    height: 332px;
    background-image: url(img/f_01.png);
    position: relative;
  
}
.f_02{
 position: absolute;
 margin-top: 1px;
 margin-left: 13px;
}
.f_03{
 position: absolute; 
 margin-top: 20px;
 margin-left: 199px;
}
.f_04{
 position: absolute;
 margin-top: 54px;
 margin-left: 220px; 
}
.f_05{
 position: absolute; 
 margin-top: 78px;
 margin-left: 285px;
 text-align: right;
}
.f_06{
  border: 1px solid #FFFEA6;
  width: 34px;
  margin-top: 220px;
 margin-left: 362px;
 position: absolute;
}
.f_07{
 position: absolute; 
 margin-top: 235px;
 margin-left: 375px;
}
.g_01{
   width: 100%;
    height: 332px;
    background-image: url(img/g_01.png);
    position: relative;
   
}
.g_02{
 position: absolute;
 margin-top: 55px;
 margin-left: 145px;
}
.g_03{
 position: absolute; 
 margin-top: 50px;
 margin-left: 25px;
}
.g_04{
 position: absolute;
 margin-top: 80px;
 margin-left: 26px; 
}
.g_05{
 position: absolute; 
 margin-top: 105px;
 margin-left: 26px;
 text-align: left;
}
.g_06{
  border: 1px solid #FFFEA6;
  width: 34px;
  margin-top: 225px;
 margin-left: 28px;
 position: absolute;
}
.g_07{
 position: absolute; 
 margin-top: 240px;
 margin-left: 28px;
}
.h_01{
  background-image: url(img/h_01.png);
  width: 100%;
  height: 530px;
  position: relative;
  background-size: 100%;
}
.h_02{
  position: absolute;
  margin-top: 26px;
  text-align: center;
  margin-left: 50px;
}
.i_01{
   width: 100%;
    height: 332px;
    background-image: url(img/i_01.png);
    position: relative;
 
}
.i_02{
 position: absolute;
 margin-top: 21px;
 margin-left: 16px;
}
.i_03{
 position: absolute; 
 margin-top: 75px;
 margin-left: 180px;
}
.i_04{
 position: absolute; 
 margin-top: 141px;
 margin-left: 181px;
 text-align: left;
}
.i_05{
  border: 1px solid #FFFEA6;
  width: 34px;
  margin-top: 238px;
 margin-left: 182px;
 position: absolute;
}
.i_06{
 position: absolute; 
 margin-top: 253px;
 margin-left: 180px;
}
.i_07{
  position: absolute;
  margin-top: 32px;
 margin-left: 254px;
}
.j_01{
   width: 100%;
    height: 339px;
    background-image: url(img/j_01.png);
    position: relative;
    background-size: 100%;
}
.j_02{
 position: absolute;
 margin-left: 240px;
}
.j_03{
 position: absolute; 
 margin-top: 84px;
 margin-left: 43px;
 text-align: right;
}
.j_04{
 position: absolute; 
 margin-top: 151px;
 margin-left: 63px;
 text-align: right;
}
.j_05{
  border: 1px solid #FFFEA6;
  width: 34px;
  margin-top: 248px;
 margin-left: 178px;
 position: absolute;
}
.j_06{
 position: absolute; 
 margin-top: 263px;
 margin-left: 184px;
}
.k_01{
   width: 100%;
    height: 339px;
    background-image: url(img/k_01.png);
    position: relative;
}
.k_02{
 position: absolute;
 margin-top: 48px;
 margin-left: 40px;
}
.k_03{
 position: absolute; 
 margin-top: 78px;
 margin-left: 176px;
 text-align: left;
}
.k_04{
 position: absolute; 
 margin-top: 143px;
 margin-left: 176px;
 text-align: left;
}
.k_05{
  border: 1px solid #FFFEA6;
  width: 34px;
  margin-top: 220px;
 margin-left: 177px;
 position: absolute;
}
.k_06{
 position: absolute; 
 margin-top: 235px;
 margin-left: 176px;
}
.m_01{
   width: 100%;
    height: 241px;
    background-image: url(img/m_01.png);
    position: relative;
}
.m_02{
 position: absolute;
 margin-top: 30px;
 margin-left: 218px;
}
.m_03{
 position: absolute; 
 margin-top: 25px;
 margin-left: 22px;
}
.m_04{
 position: absolute; 
 margin-top: 60px;
 margin-left: 22px;
 text-align: right;
}
.m_05{
  margin-top: 105px;
 margin-left: 22px;
 position: absolute;
}
.m_06{
 position: absolute; 
 margin-top: 165px;
 margin-left: 22px;
}